@font-face{
	font-family: 'Clarktext';
	src: url(../fonts/Nunito-Regular.ttf);
	
}

body {
	/*background-color:#FFF8E7;*/
	font-family: 'Clarktext';
	padding:none;
	border:none;
	text-align:center;
	background: url(../images/0331160733b_HDR.jpg) no-repeat center fixed;
	background-size:cover;
	
}

.navbar{
	margin-left:11%;
	margin-right:11%;
	width:78%;
	height:60px;
	
}

.navDiv{
float:right;
	width:14%;
	height:100%;
	text-align:center;
	margin-right:0.28%;
	overflow:hidden;
}.navDiv:hover{
	box-shadow: 0px 3px 10px 0px #000000;
}
#rabbit{
	
	border:none;
	border-bottom:1.5px solid #4d0977;
	background-color:transparent;
	
	
	color:#000000;
	/*font-weight:bold;*/              /*#4d0977*/
	display:inline-block;
	transition: .2s ease-in-out;
	vertical-align:middle;
}
.navButton{
	
	border:none;
	border-bottom:1.5px solid #4d0977;
	background-color:transparent;
	padding-top:30px;
	font-size:15px;
	color:#000000;
	/*font-weight:bold;*/              /*#4d0977*/
	height:100%;
	width:100%;
	transition: .2s ease-in-out;
	vertical-align:bottom;
	
}.navButton:hover{
	
	border:none;
	color:white;
	background-color:#000000;
}



.backgroundPage{
	background-color:rgba(255,255,255,0.2);
	
	width: 85%;
	margin:0px auto;
	margin-top:5%;
	padding: 2%;
	box-shadow:0px 7px 100px 0px #000000;
	
	
}



.HomeSlideshow{
	
vertical-align:middle;
width: 100%;
vertical-align:middle;

}
.HomeSlideshowDiv{
	text-align:center;
	position:relative;

border:2px solid #ad8c49;
display:inline-block;
background-color:#ad8c49;
	width:80%;
	overflow:hidden;
	vertical-align:middle;
}

.titleBar{
	text-align:left;
	font-size: 25px;
	font-weight:bold;
	padding: 2%;
	margin: 0px auto;
	
}

.imageAcrossAScreen{
	width:100%;
	margin:0%;
	padding:0%;
	
}

.hoverToVisible{
	position:absolute; 
	display: block; 
	opacity:0;
	transition:1s ease-in-out;
	z-index:2;
}.hoverToVisible:hover{
	opacity:1;
}



/*officer page*/
.lupitaInfo{
	color:white;
position:absolute; 
	display: block; 
	opacity:0;
	transition:1s ease-in-out;
	z-index:-1;
	box-shadow: 0px 30px 80px 2px #222222;
}#toLupita{
	
	position:absolute; 
	display: block; 
	opacity:0;
	
}#toLupita:hover ~ .lupitaInfo{
	opacity:1;
	z-index:2;
}

.taylorInfo{
	color:white;
position:absolute; 
	display: block; 
	opacity:0;
	transition:1s ease-in-out;
	z-index:-1;
	box-shadow: 0px 30px 80px 2px #222222;
}#toTaylor{
	
	position:absolute; 
	display: block; 
	opacity:0;
	
}#toTaylor:hover ~ .taylorInfo{
	opacity:1;
	z-index:2;
}

.christineInfo{
box-shadow: 0px 30px 80px 2px #222222;
	color:white;
position:absolute; 
	display: block; 
	opacity:0;
	transition:1s ease-in-out;
	z-index:-1;
}#toChristine{
	
	position:absolute; 
	display: block; 
	opacity:0;
	
}#toChristine:hover ~ .christineInfo{
	opacity:1;
	z-index:2;
	
}

.ryanInfo{
	color:white;
position:absolute; 
	display: block; 
	opacity:0;
	transition:1s ease-in-out;
	z-index:-1;
	box-shadow: 0px 30px 80px 2px #222222;
}#toRyan{
	
	position:absolute; 
	display: block; 
	opacity:0;
	
}#toRyan:hover ~ .ryanInfo{
	opacity:1;
	z-index:2;
}

/*Director Page*/

#clark{
	margin-bottom:3%;
	width:70%;
	margin-right:20%;
	align:left;
	padding: 1.5%;
	background-color: #4d0977;
	display:inline-block;
	border: 5px solid #ad8c49;
color: #ad8c49;	
}
#dwade{
	
	width:70%;
	margin-left:20%;
	padding: 1.5%;
	background-color: #ad8c49;
	display:inline-block;
	border: 5px solid #4d0977;
color: #4d0977;
}

/*current production*/
.productionSlideShow{
	width:93%;
	margin:0px auto;

}
.productionSlideShowDiv{
	text-align:center;
	position:relative;

	width:100%;
}
